<!DOCTYPE html>
<html lang="en">
  <%- include('./layout/head.ejs') %>
  <body>
    <!-- Navbar -->
    <%- include('./layout/navbar.ejs') %>

    <!-- Article Detail -->
    <a href="/" class="btn btn-info ms-3 mt-3">Back</a>
    <div class="container w-50 mt-3 ms-auto">
      <h2><%= article.title %></h2>
      <p><%= article.article %></p>

      <!-- container buttons -->
      <div class="d-flex justify-content-between mb-3">
        <!-- Edit -->
        <form
          action="/article/edit-article/<%= article._id %>"
          class="border-none"
        >
          <button type="submit" class="btn btn-success">
            <a class="nav-link" href="/article/edit-article/<%= article._id %>"
              >Edit</a
            >
          </button>
        </form>
        <!-- Delete -->
        <form action="/article/delete-article/<%= article._id %>" method="post">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
    <!-- Footer -->
    <%- include('./layout/footer.ejs') %>
  </body>
</html>
