<!DOCTYPE html>
<html lang="en">
  <%- include('./layout/head.ejs') %>
  <body>
    <!-- Navbar -->
    <header><%- include('./layout/navbar.ejs') %></header>

    <div class="container">
      <!-- Form New Article -->
      <h2 class="my-3">Edit Article:</h2>
      <form action="/article/update-article/<%= article._id %>" method="post">
        <label for="title" class="form-label fs-3">Title: </label>
        <input
          type="text"
          id="title"
          name="title"
          class="form-control"
          value="<%= article.title  %>"
        />
        <!-- Handle Error Title Update (minLength) -->
        <% if(err){ %>
        <p class="text-danger mt-2"><%= err['title'] %></p>
        <% } %>
        <div class="form-group mt-5">
          <label for="article" class="fs-3">Article: </label>
          <input
            value="<%= article.article%>"
            type="text"
            name="article"
            id="article"
            class="form-control"
          />
          <!-- Handle Error Text Update (minLength) -->
          <% if(err){ %>
          <p class="text-danger mt-2"><%= err['article'] %></p>
          <% } %>
        </div>
        <button type="submit" class="btn btn-warning mt-3">Edit Article</button>
      </form>
    </div>
    <!-- Footer -->
    <%- include('./layout/footer.ejs') %>
  </body>
</html>
