<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('./layout/head.ejs') %>
  <body>
    <!-- Navbar -->
    <header><%- include('./layout/navbar.ejs') %></header>

    <!-- Main -->
    <main>
      <div class="container">
        <div
          class="d-flex align-items-center justify-content-between py-2"
          style="border-bottom: 2px solid #4fa2ba"
        >
          <h1 class="my-3 display-4">News:</h1>
          <a href="/new-article" class="btn btn-info">Add new article</a>
        </div>

        <!-- Display Articles -->
        <% if(articles.length > 0){ %> <% articles.forEach(article => { %>
        <div class="p-3 mb-2" style="border-bottom: 1px solid #4fa2ba">
          <h4>
            <a class="nav-link" href="/article/<%= article._id %>"
              ><%= article.title %></a
            >
          </h4>
          <p><%= article.article.slice(0, 50) %>...</p>
          <a href="/article/<%= article._id %>" class="btn btn-secondary"
            >Read More...</a
          >
        </div>
        <% }) %> <% } %>
      </div>
    </main>
    <%- include('./layout/footer.ejs') %>
  </body>
</html>
